#img1 {
  height: 400px; width: 600px;
  padding: 10px;
  
}
/* .flexbox-continer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  
  .item1 {
    width: 20%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }

 
  .item2 {
    width: 20%;


  }
  .item3 {
    width: 20%;
  

  }
  .item4 {
    width: 20%;


  } */